
<div class="container-md">
      <div class="row">
            <div class="d-flex justify-content-center mt-5">  
                  <img decoding="async" width="50%" height="90%" src="https://smart4all-project.eu/wp-content/uploads/2020/02/SMART4ALL-LETTERS.png" class="attachment-full size-full" alt="" loading="lazy" style="filter: invert(90%);">
            </div>
      </div>
      <div class="row">
            <div class="d-flex justify-content-center mt-5">  
                  <div class="home-lettering">
                        An extensive network of Digital Innovation Hubs for boosting technology and business development in South, Eastern and Central Europe
                  </div>
            </div>
      </div>
      <div class="row">
            <div class="d-flex justify-content-center mt-5">  
                  <img decoding="async" width="50%" height="90%" src="https://smart4all-project.eu/wp-content/uploads/2020/02/XERIA-NEW.png" class="attachment-full size-full" alt="" loading="lazy">
            </div>
      </div>

</div>

