
  <header class="p-3 mb-3 border-bottom">
      <div class="d-flex flex-wrap align-items-left justify-content-left justify-content-lg-left">
         <div class="row align-items-center gx-5">
          <div class="col">
            <a href="/"><img width="295" height="218" src="https://smart4all-project.eu/wp-content/uploads/2020/03/logo4-295x218.png" class="custom-logo" alt="" decoding="async" loading="lazy" srcset="https://smart4all-project.eu/wp-content/uploads/2020/03/logo4-295x218.png 295w, https://smart4all-project.eu/wp-content/uploads/2020/03/logo4-300x221.png 300w, https://smart4all-project.eu/wp-content/uploads/2020/03/logo4-1024x756.png 1024w, https://smart4all-project.eu/wp-content/uploads/2020/03/logo4-768x567.png 768w, https://smart4all-project.eu/wp-content/uploads/2020/03/logo4-24x18.png 24w, https://smart4all-project.eu/wp-content/uploads/2020/03/logo4-36x27.png 36w, https://smart4all-project.eu/wp-content/uploads/2020/03/logo4-48x35.png 48w, https://smart4all-project.eu/wp-content/uploads/2020/03/logo4.png 1199w" sizes="(max-width: 295px) 100vw, 295px"></a>
          </div>
          <div class="col-auto">
            <ul class="nav col-12 col-lg-auto me-lg-aut o mb-2 justify-content-left mb-md-0">
              <li><a href="/" class="nav-link px-2 link-dark header-nav-link">Home</a></li>
              <li><a href="/map" class="nav-link px-2 link-secondary header-nav-link">Financing Map</a></li>
              <li><a href="/table" class="nav-link px-2 link-secondary header-nav-link">KPI’s/WP</a></li>
            </ul>
          </div>
        </div>
      </div>  
  </header>
